{% if pagination.pageNumber == 0 %}
  {% include '_cover.njk' %}
{% endif %}

{% if pagination.pageNumber == 1 %}
  {% include '_toc.njk' %}
{% endif %}

{% if pagination.pageNumber >= 2 %}
  <div class="ebook-page-container">
    <div class="ebook-copy">
      <p>Chapter {{ pagination.pageNumber }}</p>
      <h1>{{ ebookPage.pageTitle }}</h1>
      {% for paragraph in ebookPage.pageCopy %}
        <p class="copy-paragraph">{{ paragraph }}</p>
      {% endfor %}
    </div>
    <div class="ebook-image">
      <img src="https://placehold.co/400x400/f81e00/01070b" />
    </div>
  </div>
{% endif %}
