---
layout: layout
---
<div class="cover-container">
  <div class="cover">
    <p>A Lullabot eBook</p>
    <h1>{{ title }}</h1>
  </div>

  <div class="cover-copy">
    {{ content }}
  </div>
</div>


<div class="nav-container">
    <div class="nav-button">
      <a href="../table-of-contents/"><i class="gg-arrow-right"></i></a>
    </div>
</div>