<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/arrow-right.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/arrow-left.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="sidebar">
      <div class="logo-container">
        <a href="/">
          <div>
            <img src="/img/logo.svg" alt="" />
          </div>
        </a>
      </div>
      <div class="page-title">
        <div>{{ chapter.data.title }}</div>
      </div>
      
    {% assign currentBookSlug = page.filePathStem | split: "/" | slice: 2, 1 | join: "" %}  
    {% for bookWithChapters in collections.booksWithChapters %}
      {% if bookWithChapters.book.slug == currentBookSlug %}
        <div class="page-number">
          <div>
            {% if page.fileSlug == 'cover' %}
              <!-- Empty for cover page -->
            {% elsif page.fileSlug == 'table-of-contents' %}
              TOC
            {% else %}
              {{ page.fileSlug | replace: 'chapter-', '' }}
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
      
    </div>
    <main>
      {{ content }}
    </main>
  </body>
</html>
