<div class="toc-container">
  <p>Table of Contents</p>
  <ol>
    {%- for pageEntry in pagination.pages %}
      {% if forloop.index0 >= 2 %}
        <li><a href="{{ pagination.hrefs[forloop.index0] }}"{% if page.url == pagination.hrefs[forloop.index0] %} aria-current="page"{% endif %}>{{ pageEntry.data.title }}</a></li>
      {% endif %}
    {%- endfor %}
  </ol>
</div>
