$lb-black: #01070b;
$lb-red: #f81e00;
$lb-gray: #e0e6eb;
$lb-white: #fff;

body {
  margin: 0;
  display: flex;
}

main {
  font-family: verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: calc(100% - 81px);
  position: relative;
}

.sidebar {
  width: 80px;
  height: 100vh;
  border-right: 1px solid $lb-gray;
  box-sizing: border-box;
  // box-shadow: -10px 10px 10px 10px $lb-gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .page-title {
    flex-grow: 1;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      transform: rotate(-90deg);
      font-family: verdana, sans-serif;
      font-size: 1.25em;
    }
  }
}

.logo-container {
  background-color: $lb-red;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-number {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: verdana, sans-serif;
  border-top: 1px solid $lb-gray;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #445A6A;
}

.nav-container {
  display: flex;
  justify-content: end;
  gap: 0.5em;
  margin: 0.5em;
  position: fixed;
  bottom: 0;
  right: 0;
}

.nav-button {
  border: 2px solid $lb-gray;
  display: inline-block;
  padding: 1em;
  background-color: #fff;

  &:hover {
    background-color: $lb-black;

    i {
      color: #fff;
    }
  }
}

.cover {
  background-color: $lb-black;
  color: #fff;
  padding: 7em;

  > p {
    text-transform: uppercase;
  }

  h1 {
    font-size: 75px;
    font-weight: 700;
  }
}

.cover-copy {
  background-color: #fff;
  color: $lb-black;
  padding: 7em;
  font-size: 1.25em;
}

.toc-container {
  padding: 4em; 
  padding-top: 10em;
  text-align: left; 

  > p {
    text-transform: uppercase;
    margin-bottom: 2em; 
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #445A6A;
  }

  .toc-columns {
    display: flex;
    justify-content: space-between;
  }

  .toc-column {
    flex: 1;
    max-width: 45%;
  }

  .chapter-item {
    font-size: 1.25em;
    font-weight: 700;
    margin-bottom: 2em; 
    color: $lb-black;
    display: flex;
    align-items: flex-start;

    .chapter-count {
      color: $lb-red;
      margin-right: 1em;
      flex-shrink: 0; 
    }

    a {
      text-decoration: none; 
      color: inherit; 

      &:hover {
        color: $lb-red; 
      }
    }

    // Ensure the text after the number is indented correctly
    .chapter-title-wrapper {
      display: flex;
      flex-direction: column;
    }
  }
}

.ebook-page-container {
  display: flex;
  height: 100%;
  
  div {
    padding: 7em;
  }

  .ebook-copy {
    p:first-of-type {
      text-transform: uppercase;
      color: $lb-red;
      font-weight: 700;
    }

    .copy-paragraph {
      font-size: 1.25em;
      line-height: 2;
    }
  }

  .ebook-image {
    background-color: $lb-gray;
  }
}